<div class="jumbotron">
	<div class="container">
		<h1>Student Resources</h1>
		<p>A brief description about the app and what it does.</p>
		<p>Only in a couple of lines
		<a href="/studentresource/new" class="btn btn-primary btn-lg pull-right">Add resource</a></p>
	</div>
</div>
<div class="container">
		<% resources.reverse() %>
	  <% _.each(resources, function(resource) { %>
	  <article>
	  	<h2><a href="/studentresource/<%= resource.id %>"><%= resource.title %></a></h2>
	  	<p><%= resource.body %></p>
	  </article>
	  <% }) %>
</div>