<% var result = resource.body.split( /\n|\s{2,}/g ) %>
<div class="jumbotron post-hero">
	<div class="container">
		<h1><%= resource.title %></h1>
	</div>
</div>
<div class="container post">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<% for (var i = 0; i < result.length; i++) { %>
			<p><%= result[i] %></p>
			<% } %>
		</div>
	</div>
</div>

