<div class="jumbotron">
	<div class="container">
		<h1>A big Title</h1>
		<p>A brief description about the app and what it does.</p>
		<p>Only in a couple of lines</p>
		<a href="/start" class="btn btn-primary btn-lg">Get Started</a>
	</div>
</div>