<div class="container start-main">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<p>Manage your student records from here. Create, modify and delete records.</p>
				<a href="/students" class="btn btn-primary">Student Arena</a>
		</div>
		</div>
		<div class="col-md-6">
			<div class="jumbotron">			
				<p>A curation of resources to assist students. You can also add yours to the list.</p>
				<a href="/studentresource" class="btn btn-primary">Student Resources</a>
			</div>
		</div>
	</div>
</div>