<div class="container start-main">
	<div class="row">
		<div class="col-md-6">
			<img src="https://api.adorable.io/avatars/300/wolverine.png" class="img-responsive">
			<p>A paragraph of text describing the student section</p>
			<a href="/student" class="btn btn-primary btn-lg">Student Arena</a>
		</div>
		<div class="col-md-6">
			<img src="https://api.adorable.io/avatars/300/wolverine.png" class="img-responsive">
			<p>A paragraph of text describing the student section</p>
			<a href="/studentresource" class="btn btn-primary btn-lg">Student Resources</a>
		</div>
	</div>
</div>