<% if(students !== undefined ) { %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Students<a href="/students/new" class="btn btn-primary btn-lg pull-right">Enroll new student</a></h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<% _.each(students, function(item) { %>
		<a href="/students/<%= item.id %>"><div class="col-md-3"><%= item.firstName %> <%= item.lastName %></div></a>
	<% }) %>
	</div>
</div>
<% } %>


