<div class="container form-container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-inline-block">Edit student details</h1>
      <div class="display-inline-block pull-right">
        <a href="/students" class="btn btn-success">Cancel</a>
      </div>
    </div>
    <div class="col-md-8">
      <!-- <h1>Edit student details</h1> -->
      <%- partial('form.ejs') %>
    </div>
  </div>
</div>
