<div class="container form-container">
  <div class="row">
		<div class="col-md-12">
			<h1 class="display-inline-block">Add new student</h1>	
			<div class="display-inline-block pull-right">
				<a href="/students" class="btn btn-success">Go back</a>
			</div>
		</div>
    <div class="col-md-8">      
      <%- partial('form.ejs') %>
    </div>
	</div>
</div>
