<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>Add new student</h1>
  <form action="/student" method="POST" role="form">
    <legend>New Student</legend>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control input-lg" name="firstName" id="" placeholder="First Name">
      <label for="middle-name">Middle Name</label>
      <input type="text" class="form-control input-lg" name="middleName" id="" placeholder="Middle Name">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control input-lg" name="lastName" id="" placeholder="Last Name">
      <label for="phone">Phone Number</label>
      <input type="text" class="form-control input-lg" name="mobile" id="" placeholder="+234 XXX XXX XXXX">
      <label for="last-name">Date of Birth</label>
      <input type="text" class="form-control input-lg" name="dateOfBirth" id="" placeholder="dd/mm/yyyy">
      <label for="last-name">E-mail</label>
      <input type="email" class="form-control input-lg" name="email" id="" placeholder="sample@email.com">
      <label for="last-name">Gender</label>
      <input type="dropdown" class="form-control input-lg" name="gender" id="" placeholder="M">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div></div></div>
